.my-container {
    min-width: 75%;
    border: 2px solid red;
    padding: 0 30px;
    max-width: 1310px;
}

ul {
    list-style-type: none;
}

.my-col {
    border: 3px dotted blue;
}

.articles-section {
    border: 1px solid black;
}

.article-short {
    display: flex;
    height: 150px;
    padding: 15px 0;
}

.thumbnail {
    max-width: 25%;
}

.title {
    display: block;
    width: auto;
}

.ml-10 {
    margin-left: 10px;
}

.debator-container {
    display: flex;
    height: 100px;
    margin: 20px 0;
}

.debator-pic {
    height: 80px;
    width: 80px;
}

.debate-article {
    flex: 1;
}

.opinion {
    display: flex;
    height: 95px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(192, 192, 192);
}

@media screen and (max-width: 992px) {
    .nav-item, .subnav-item {
        display: none;
    }

    @media screen and (max-width: 768px) {
        #main-column article:nth-child(n+3) {
            display: none;
        }

        #main-column h2:nth-child(3) {
            display: none;
        }
    }
}